@model IEnumerable<product>

    



<div class="row">
    <div class="col-md-9 offset-md-1">

        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.product_imageUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.product_UPC)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.product_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.product_unitPrice)
                    </th>
                    <th>
                        Actions
                    </th>


                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img src="" style="max-width:150">
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.product_UPC)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.product_name)
                        </td>
                        <td class ="align-middle">
                            @Html.DisplayFor(modelItem => item.product_unitPrice)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary">-<i class="bi bi-plus-square"></i></a>
                            <a class="btn btn-outline-primary">+<i class="bi bi-minus-square"></i></a>
                        </td>
                    </tr>
                    
                }

            </tbody>
            <tr>
                <td></td>
            </tr>
        </table>

    </div>  
</div>



<!-- Views/Products/Index.cshtml -->
<h2>Products Page</h2>
<p>Welcome to the Products page!</p>